{% extends 'layout.html' %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var contactsCollection = db.collection('contacts');
    contactsCollection.insert({{ contacts|tojson }});

    var groupsCollection = db.collection('groups');
    groupsCollection.insert({{ groups|tojson }});

    var membershipsCollection = db.collection("memberships");
    membershipsCollection.insert({{ members|tojson }});

    var streetsCollection = db.collection("streets", {indices: ["zipcode"]});
    streetsCollection.insert({{ streets|tojson }});

    var zipcode_options = streetsCollection.find(
      {$distinct: {zipcode: {$ne: ""}}},
      {$orderBy: {zipcode: 1}}
    ).map(function(street) {
      return street.zipcode;
    });

    var city_options = streetsCollection.find(
      {$distinct: {city: {$ne: ""}}},
      {$orderBy: {city: 1}}
    ).map(function(street) {
      return street.city;
    });
  </script>

  <script src="{{ url_for('static', filename='js/lib/double-metaphone.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/parse-address.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/fuzzball.umd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/grid_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/form_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/match_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/detail_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/coa_popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/mgt_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/csv/export_table.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {

      webix.ui(coaPopup);
      webix.ui(csvExportTable);

      webix.ui({
        container: "content_container",
        type: "space",
        rows: [conMgtPanel]
      });

      conMgtPanelCtlr.init();
      coaPopupCtlr.init();
      csvExportTableCtlr.init();
    });

  </script>
{% endblock %}
