{% extends 'layout.html' %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var contacts = db.addCollection('contacts');
    contacts.insert({{ contacts|tojson }});
    var precincts = db.addCollection("precincts");
    precincts.insert({{ precincts|tojson }});
    var groups = db.addCollection('groups');
    groups.insert({{ groups|tojson }});
    var memberships = db.addCollection("memberships");
    memberships.insert({{ members|tojson }});
  </script>

  <script src="{{ url_for('static', filename='js/lib/double-metaphone.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/parse-address.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/fuzzball.umd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/grid_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/form_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/match_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/mgt_panel.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {

      webix.ui({
        container: "content_container",
        type: "space",
        rows: [conMgtPanel]
      });

      conMgtPanelCtlr.init();
    });

  </script>
{% endblock %}
